{{!-- homepage after logging in --}}

<h1>Profile</h1>
<h3>Welcome {{name}}</h3>
<h3>Are you feeling {{lastName}} today?</h3>
<h3>We hope you're hungry</h3>
<p>Here are your items</p>

{{#if order}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each order}}
                <tr>
                    <td><a href="/orders/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><Span class="dash-status">{{status}}</Span></td>
                    <td>
                        <a href="/orders/edit/{{_id}}" class="btn btn-float grey"><i class="fas fa-edit grey"></i></a>
                    <form action="/orders/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE"><button type="submit" class="btn dark red"><i class="fas fa-trash"></i>

                    </button> </form>
                    </td>


                </tr>
            {{/each}}
        </tbody>

    </table>

{{else}}
    <p>Your basket is empty. </p>
{{/if}}
