<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Profile</title>
    <style>
        section {
            padding: 6px 0;
        }
    </style>
</head>

<body>
    <section id="intro">
        <div class="container-lg">
            <div class="row g-4 justify-content-center align-items-center">
                <div class="col-md-5 text-center text-md-center">
                    <h6>
                        <img src="{{img}}" style="border-radius: 20%" alt="">
                        <div class="display-3" >{{name}} {{lastName}}'s shopping cart:</div>
                        <br>
                    </h6>
                </div>
            </div>
            <div class="row g-4 justify-content-center align-items-center">
                <div class="col-md-5 text-center text-md-center">
                    <div class="btn-group"></div>
                    <div class="row">
                        <div class="col">
                            {{#if cart}}
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price/Kg</th>
                                        <th>amount </th>
                                        <th>Price/Kg</th>
                                    </tr>
                                </thead>
                                {{#each cart}}
                                <tbody>
                                    <tr>
                                        {{#each this}}
                                        <td><Span class="dash-status">{{this.prod_name}}₪</Span></td>
                                        <td><span>{{this.prod_name}}</span></td>
                                        <td><span>{{this.qnty}}</span></td>
                                        <td><span>{{this.price}}</span></td>
                                        <td><span>{{multiply this.qnty this.price}}</span></td>
                                        <td> <a href="" class="btn btn-float blue"><i
                                                    class="far fa-credit-card blue"></i></a>
                                            <form action="/{{this._id}}" method="POST" id="delete-form">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn dark red"><i
                                                        class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                        {{/each}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <p>Your shopping cart is empty. </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>