<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/popstyle.css">
  <title>Document</title>
</head>

<body>

  <h3>Products</h3>
  <div class="row">

    {{#each orders}}
    {{!-- <div class="form-popup" id="myForm">
      <form action="/" method="POST" class="form-container">
        <h5>amount in kg</h5>
        <p>{{_id}}</p>
        <input type="number" name="amount" placeholder="enter amount" required>
        <button type="submit" class="btn" name="update" value="{{_id}}">enter amount</button>

        <button type="button" class="btn cancel" onclick="closeForm()">cancel</button>
      </form>
    </div> --}}

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          {{{editIcon user ../user _id}}}
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          <p>{{stripTags (truncate body 50)}}</p>
          <br>
          <div class="chip">
            <img src="{{user.image}}" alt="">
            <a href="/orders/user/{{user._id}}">{{user.displayName}}</a>
          </div>
        </div>
        <div class="card-action center-align">

          <a href="/orders/{{_id}}" class="btn orange">To buy </a>
        </div>
        {{!-- <div class="card-action center-align"> --}}

         {{!-- <button onclick="openForm()" name="openform" class="btn orange">add to cart</button></a> --}}

        {{!-- </div> --}}
      </div>
    </div>
    {{!-- <div class="form-popup" id="myForm">
      <form action="/" method="POST" class="form-container">
        <h5>amount in kg</h5>

        <input type="number" name="amount" placeholder="enter amount" required>
        <button type="Save" class="btn" name="update" value="{{_id}}">enter amount</button>

        <button type="button" class="btn cancel" onclick="closeForm()">cancel</button>
      </form>
    </div> --}}
    {{else}}
    <p>No orders to display</p>
    {{/each}}
  </div>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>



</body>

</html>